tshirt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/tshirt"
                  targetNamespace="http://example.com/tshirt"
                  name="TshirtService">

  <wsdl:types>
    <xs:schema targetNamespace="http://example.com/tshirt"
               elementFormDefault="qualified">
      <xs:element name="OrderTshirtRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="size" type="xs:string"/>
            <xs:element name="color" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OrderTshirtResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orderId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="OrderTshirtInput">
    <wsdl:part name="parameters" element="tns:OrderTshirtRequest"/>
  </wsdl:message>

  <wsdl:message name="OrderTshirtOutput">
    <wsdl:part name="parameters" element="tns:OrderTshirtResponse"/>
  </wsdl:message>

  <wsdl:portType name="TshirtServicePortType">
    <wsdl:operation name="OrderTshirt">
      <wsdl:input message="tns:OrderTshirtInput"/>
      <wsdl:output message="tns:OrderTshirtOutput"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="TshirtBinding" type="tns:TshirtServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OrderTshirt">
      <soap:operation soapAction="http://example.com/tshirt/order"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="TshirtService">
    <wsdl:port name="TshirtPort" binding="tns:TshirtBinding">
      <soap:address location="http://localhost:8080/tshirt"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
